/* All common css start  */
* {
  margin: 0%;
  padding: 0%;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
i {
  margin: 0%;
  padding: 0%;
  line-height: 0.8;
}
.container {
  margin: 0% auto;
  width: 1320px;
}
/* All common css end  */

/* Headerpart start  */
#headerPart {
  padding: 20px 0;
  background-color: #000000;
}
.logomenu {
  display: flex;
  align-items: center;
}
.logo {
  width: 15%;
}
.sarchIcon {
  width: 20%;
  text-align: end;
}
.menu {
  width: 65%;
}
.menu ul {
  display: flex;
}
.menu ul li {
  padding: 0% 20px;
}
.menu ul li a {
  font-size: 16px;
  font-weight: 400;
  color: #dddddd;
  font-family: "Oswald", sans-serif;
  transition: 0.4s;
}
.menu ul li a:hover {
  color: #ff4655;
}
.sarchIcon a {
  padding: 0 10px;
  color: #ffffff;
  transition: 0.4s;
}
.sarchIcon a:hover {
  color: #ff4655;
}
/* Headerpart end  */

/* Bannarpart start  */
#bannarPart {
  padding-top: 275px;
  padding-bottom: 100px;
  background: url(../images/banner\ 1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bannarText h3 {
  font-size: 27px;
  font-weight: 400;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
}
.bannarText h1 {
  font-size: 60px;
  font-weight: 600;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  padding-top: 30px;
  padding-bottom: 22px;
  position: relative;
}
.bannarText h1::after {
  position: absolute;
  background-color: #ffffff;
  height: 4px;
  width: 90px;
  bottom: 21px;
  right: 704px;
  content: "";
}
.bannarText p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 551px;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  padding-bottom: 50px;
}
.bannarText a {
  background-color: #ffffff;
  padding: 13px 22px;
  font-size: 16px;
  font-weight: 400;
  color: #121212;
  font-family: "Oswald", sans-serif;
  transition: 0.4s;
}
.bannarText a:hover {
  background-color: #ff4655;
  color: #dddddd;
}
.bannarIcon a {
  padding: 7px 10px;
  border-radius: 50px;
  display: inline-block;
  color: #000000;
  margin-top: 300px;
  margin-right: 20px;
  transition: 0.4s;
}
.bannarIcon a:hover {
  background-color: #ff4655;
  color: #dddddd;
}
/* Bannarpart end  */

/* Aboutpart start  */
#aboutPart {
  padding-top: 45px;
  padding-bottom: 75px;
  background-color: #121212;
}
.aboutHeadText h3 {
  font-size: 38px;
  font-weight: 600;
  color: #ffffff;
  width: 518px;
  line-height: 56px;
  font-family: "Oswald", sans-serif;
  position: relative;
}
.aboutHeadText h3::after {
  position: absolute;
  height: 4px;
  width: 120px;
  background-color: #ff4655;
  right: 202px;
  bottom: 12px;
  content: "";
}
.aboutImgTextFlex {
  display: flex;
  justify-content: space-between;
  padding-top: 65px;
}
.aboutImg {
  width: 50%;
}
.aboutImg img {
  transition: 0.4s;
}
.aboutImg img:hover {
  transform: scale(1.03);
}
.aboutText {
  width: 40%;
}
.aboutText h4 {
  font-size: 27px;
  font-weight: 600;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  padding-bottom: 5px;
}
.aboutText h6 {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  padding: 15px 0;
  font-family: "Barlow Condensed", sans-serif;
}
.aboutText h6 i {
  color: #ff4655;
}
.aboutText p {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  line-height: 27px;
  font-family: "Oswald", sans-serif;
  padding-top: 5px;
}
.aboutCounterFlex {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
.counter {
  width: 24%;
  padding: 25px 0;
  background-color: #212121;
  color: #ffffff;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  text-align: center;
  border: 1px solid #212121;
  transition: 0.4s;
}
.counter:hover {
  color: #ff4655;
  background: transparent;
}
.counter h3 {
  font-size: 60px;
  font-weight: 600;
  font-family: "Barlow Condensed", sans-serif;
}
.counter p {
  padding-top: 35px;
  font-size: 18px;
  font-weight: 300;
  font-family: "Oswald", sans-serif;
}
/* Aboutpart end  */

/* Popularpart start  */
#popularPart {
  padding-top: 115px;
  padding-bottom: 85px;
  background-color: #191919;
}
.popularheadText h3 {
  font-size: 38px;
  font-weight: 600;
  color: #ffffff;
  line-height: 46px;
  width: 454px;
  font-family: "Barlow Condensed", sans-serif;
  text-align: end;
  padding-left: 859px;
  position: relative;
}
.popularheadText h3::after {
  position: absolute;
  height: 4px;
  width: 105px;
  background-color: #ff4655;
  bottom: 8px;
  right: 105px;
  content: "";
}
.popolarImgFlex {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.popularImgLeft {
  width: 50%;
}
.popularImgLeft img {
  transition: 0.4s;
}
.popularImgLeft img:hover {
  transform: scale(1.03);
}
.popularImgRight {
  width: 50%;
  padding-top: 80px;
}
.popularImgRight img {
  transition: 0.4s;
}
.popularImgRight img:hover {
  transform: scale(1.03);
}
.popularIcon {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.iconLeft {
  padding-top: 20px;
}
.iconLeft svg {
  transition: 0.4s;
}
.iconLeft svg:hover {
  background-color: #ff4655;
  border-radius: 50px;
}
.iconRight svg {
  transition: 0.4s;
}
.iconRight svg:hover {
  background-color: #ff4655;
  border-radius: 50px;
}
/* Popularpart end  */

/* Livestreaminpart start  */
#liveStreaminPart {
  padding: 90px 0;
  background-color: #121212;
}
.liveStreaminHeadText h3 {
  font-size: 38px;
  font-weight: 600;
  color: #ffffff;
  width: 446px;
  line-height: 56px;
  font-family: "Oswald", sans-serif;
  position: relative;
}
.liveStreaminHeadText h3::after {
  position: absolute;
  height: 4px;
  width: 120px;
  background-color: #ff4655;
  bottom: 12px;
  left: 143px;
  content: "";
}
.liveStreaminImgFlex {
  display: flex;
  justify-content: space-between;
  padding-top: 75px;
}
.liveImg {
  width: 33%;
}
.liveImg img {
  transition: 0.4s;
}
.liveImg img:hover {
  transform: scale(1.03);
}
.liveTeamTextCenter h3 {
  font-style: 25px;
  font-weight: 500;
  color: #ffffff;
  font-family: "Barlow Condensed", sans-serif;
  text-align: center;
  padding: 55px 0;
}
.teamTopFlex {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  align-items: center;
}
.teamBottomFlex {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  align-items: center;
  padding-top: 55px;
}
.team {
  width: 40%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #212121;
  transition: 0.4s;
}
.team:hover {
  opacity: 0.8;
  box-shadow: 0 4px 8px #ff4655;
}
.team h3 {
  color: #ffffff;
  font-size: 32px;
  font-weight: 500;
  font-family: "Barlow Condensed", sans-serif;
}
.teamTopFlex h4 {
  color: #ffffff;
  font-size: 40px;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
}
.teamBottomFlex h4 {
  color: #ffffff;
  font-size: 40px;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
}
/* Livestreaminpart end  */

/* Salepart start  */
#salePart {
  padding: 90px 0;
  background-color: #191919;
}
.saleHeadText h3 {
  font-size: 38px;
  font-weight: 600;
  color: #ffffff;
  line-height: 46px;
  font-family: "Barlow Condensed", sans-serif;
  width: 449px;
  text-align: end;
  padding-left: 859px;
  position: relative;
}
.saleHeadText h3::after {
  position: absolute;
  height: 4px;
  width: 105px;
  background-color: #ff4655;
  bottom: 9px;
  right: 81px;
  content: "";
}
.ptflex {
  display: flex;
  justify-content: space-between;
}
.saleIteamFlex {
  padding-top: 55px;
}
.iteam {
  /* width: 25%; */
}
.iteam img {
  width: 100%;
  transition: 0.4s;
}
.iteam img:hover {
  transform: scale(1.03);
  opacity: 0.8;
  box-shadow: 0 4px 8px #2508a5;
}
.iteamText {
  width: 100%;
}
.iteamText h3 {
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;
  font-family: "Barlow Condensed", sans-serif;
  padding-top: 25px;
}
.iteamText p {
  font-size: 16px;
  font-weight: 400;
  color: #666666;
  font-family: "Oswald", sans-serif;
  padding: 25px 0;
}
.doscount {
  display: flex;
}
.doscount p {
  font-size: 16px;
  font-weight: 400;
  color: #666666;
  font-family: "Oswald", sans-serif;
  margin: 0 20px;
  margin-top: 20px;
  position: relative;
}
.doscount p::after {
  position: absolute;
  height: 2px;
  width: 45px;
  background-color: #666666;
  content: "";
  bottom: 20px;
  left: -2px;
}
.doscount h5 {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  padding-top: 20px;
}
.chang {
  padding: 15px;
  background-color: #ff4655;
}
.saleBottomText h3 {
  padding-top: 60px;
  padding-bottom: 30px;
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  font-family: "Barlow Condensed", sans-serif;
}
.favoriteGame {
  padding-top: 50px;
  padding-bottom: 40px;
  background-color: #212121;
}
.favoriteTextImgFlex {
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}
.favoriteText {
  width: 60%;
}
.favoriteText h4 {
  font-size: 16px;
  font-weight: 500;
  color: #ff4655;
  font-family: "Oswald", sans-serif;
}
.favoriteText h3 {
  font-size: 38px;
  font-weight: 600;
  color: #ffffff;
  font-family: "Barlow Condensed", sans-serif;
  padding: 30px 0;
}
.favoriteText p {
  font-size: 16px;
  font-weight: 500;
  color: #666666;
  line-height: 24px;
  width: 603px;
  font-family: "Oswald", sans-serif;
  padding-bottom: 25px;
}
.browseBtn {
  padding: 13px 31px;
  background-color: #121212;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  border: none;
  transition: 0.4s;
}
.browseBtn:hover {
  background-color: #ff4655;
}
.favoriteImg {
  width: 40%;
}
.favoriteImg img {
  transition: 0.4s;
}
.favoriteImg img:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 8px #ff4655;
}
/* Salepart end  */

/* Providepart start  */
#providePart {
  padding-top: 100px;
  padding-bottom: 85px;
  background-color: #121212;
}
.provideHeadText h3 {
  font-size: 38px;
  font-weight: 600;
  color: #ffffff;
  width: 446px;
  line-height: 56px;
  font-family: "Oswald", sans-serif;
  position: relative;
}
.provideHeadText h3::after {
  position: absolute;
  height: 4px;
  width: 120px;
  background-color: #ff4655;
  bottom: 12px;
  left: 200px;
  content: "";
}
.provideContantflex {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}
.provideTextImg {
  background-color: #212121;
  padding: 24px 38px;
}
.provideTextImg h3 {
  color: #ffffff;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
}
.provideTextImg img {
  padding-top: 40px;
  padding-bottom: 60px;
  transition: 0.4s;
}
.provideTextImg img:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 8px #b3c50e;
}
.provideTextImg h4 {
  text-align: center;
  color: #ffffff;
  font-size: 25px;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
}
.provideTextImg h5 {
  padding-top: 15px;
  text-align: center;
  color: #ff4655;
  font-size: 16px;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
}
.provideIcon {
  position: relative;
}
.iconRight2 svg {
  position: absolute;
  bottom: 223px;
  right: -18px;
}
.iconRight2 svg {
  position: absolute;
  bottom: 223px;
  right: -18px;
  border: 1px solid #ffffff;
  border-radius: 50px;
  transition: 0.4s;
}
.iconRight2 svg:hover {
  background-color: #ff4655;
  border-radius: 50px;
}
.iconLeft3 svg {
  position: absolute;
  bottom: 223px;
  left: -18px;
  border: 1px solid #ffffff;
  border-radius: 50px;
  transition: 0.4s;
}
.iconLeft3 svg:hover {
  background-color: #ff4655;
  border-radius: 50px;
}
/* Providepart end   */

/* MeetTeamPart start   */
#meetTeamPart {
  padding: 100px 0;
  background-color: #191919;
}
.meetTeametHeadText h3 {
  font-size: 38px;
  font-weight: 600;
  color: #ffffff;
  text-align: end;
  width: 498px;
  line-height: 46px;
  font-family: "Oswald", sans-serif;
  padding-left: 823px;
  position: relative;
}
.meetTeametHeadText h3::after {
  position: absolute;
  height: 4px;
  width: 105px;
  background-color: #ff4655;
  bottom: 8px;
  right: 92px;
  content: "";
}
.meetTeametImgFlex {
  display: flex;
  justify-content: space-between;
  padding-top: 55px;
  position: relative;
}
.meetTeametImg img {
  display: block;
  width: 100%;
  transition: 0.4s;
}
.meetTeametImg img:hover {
   transform: scale(1.03);
}
.meetTeametImg {
  position: relative;
  overflow: hidden;

}
.meetTeametText h3 {
  color: #ffffff;
  padding: 24px 30px;
  background-color: rgba(37, 36, 36, 29%);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.meetTeametTextHidden {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px;
  background-color: rgba(37, 36, 36, 0.28);
  width: 100%;
  opacity: 0;
  transition: 0.4s;
}
.meetTeametTextHidden h4 {
  font-size: 30px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
}
.meetTeametTextHidden p {
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  width: 300px;
  line-height: 180%;
  padding: 20px 0;
}
.meetTeametTextHidden button {
  background-color: #ff4655;
  padding: 13px 22px;
  font-size: 16px;
  font-weight: 400;
  color: #dddddd;
  font-family: "Oswald", sans-serif;
  transition: 0.4s;
}
.meetTeametTextBtnIconFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.meetTeametTextIcon {
  margin-right: 50px;
}
.meetTeametTextIcon a {
  background-color: #ff4655;
  color: #dddddd !important;
  padding: 8px 12px;
  border-radius: 50%;
  margin-left: 10px;
  font-size: 30px;
  font-weight: 400;
  color: #121212;
  font-family: "Oswald", sans-serif;
  transition: 0.4s;
}

.meetTeametImg:hover .meetTeametTextHidden {
  opacity: 100%;
}
.meetTeametImg:hover .meetTeametText h3 {
  opacity: 0;
}

/* MeetTeamPart end   */
